*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

html{
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	text-align: center;
	color: #ffff;
	background: #275856;
}

header{
	margin-top: 2%;
}

.container{
	margin-top: 2%;
	min-height: 800px;
	background: url('img/me.jpg') center/cover no-repeat;

}


.my_projects {
	display: block;
	left: 10px;
}

.my_projects a{
	color: #11ff00;
	background-color: #1c7370;
	border-radius: 30px;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 0.5% ;
	padding-bottom: 0.5%;
	text-decoration: none;
	box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.3);

}
footer {
	margin-top: 2%;
}
footer a {
	color:aqua;
}



